<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/delbyfqkv/image/upload/v1582323394/patrick-untersee-yyYjoNl7RPQ-unsplash_gjddjq.jpg)">
  <div class="container">
    <h1>Cocktails & Dreams<strong></h1>
  </div>
</div>

<div class="container">
  <div class="cocktails">
    <% @cocktails.each do |cocktail| %>
  <div class="cocktail">
    <%=link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
  <% end %>
</div>
</div>
