<!-- <style>
  .cocktails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  .cocktail {
    height: 200px;
    background-color: coral;
    border-radius: 5px;
    padding: 8px;
  }
</style> -->
  <h1>Welcome to Mister Cocktail</h1>
  <div class="cocktails">
    <% @cocktails.each do |cocktail| %>
  <div class="cocktail">
    <%=link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
  <% end %>
</div>
 <%= link_to "Create", new_cocktail_path, class: "btn btn-success btn-color btn-bg-color btn-sm col-xs-2 btn-success-spacing" %>
