.btn-ghost {
    text-decoration: none;
    font-size: 12px;
    font-weight:500;
    color: #999999 ;
    border: 2px solid #999999;
    padding: 0.65em 1.7em;
    display: inline-block;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.6s ease 0s;
    cursor: pointer;
    position: relative;
    top: 15px;
}

.btn-noborder {
  text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #f8bd7f ;
    position: relative;
    margin-left: 5px;
}
