.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #F4E9D2;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.card-category > img {
  height:180px;
  width:100%;
  object-fit: cover;
  opacity: 0.8;
}

.card-category .text{
position: absolute;
text-shadow: 1px 2px gray;


}

.names {
  color: #fcc26c;

}

.names:hover {
  text-decoration:none;
  color: #ff9b38;
}
